GPATH
GRTAGS
GSYMS
GTAGS
*.cmd
*.d
*.dmp
*.elf
*.lds
*.map
*.o
*.swp
*.ta
cscope.*
out/
hello_world/host/optee_example_hello_world
random/host/optee_example_random
aes/host/optee_example_aes
hotp/host/optee_example_hotp
secure_storage/host/optee_example_secure_storage
